<!DOCTYPE html>
<html>
<head id="head">
	<title>{{title}}</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="description" content="About Harikrushna Vasantbhai Adiecha">
	<meta name="keywords" content="Harikrushna, Software Engineer">
	<meta name="author" content="Harikrushna V Adiecha">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS only -->
	<link href="https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bellota&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">

	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="app.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link class="icon" rel="icon" type="image/png" :href="picture">
</head>
<body class="bg-gradient-to-r from-green-200 via-blue-200 to-red-200">
	<div id="app" class="px-1">
		<div class="header container mx-auto mt-5 md:flex bg-gray-100 rounded-xl p-8 md:p-0 overflow-hidden shadow-lg">
			<img class="object-cover w-32 h-32 md:w-48 md:h-auto md:rounded-none rounded-full mx-auto md:mx-0 md:inline-block" src="/images/harikrushna.jpeg" alt="Image of Harikrushna" >
			<div class="pt-6 md:p-8 text-center md:text-left inline-block">
				<h3 class="text-5xl font-bold mb-4 text-blue-600" style="text-shadow: 1px 1px 5px #999;">Harikrushna V. Adiecha </h3>
				<div class="text-green-800 mb-0 font-bold">
					{{ profile.designation }}
				</div>
				<div class="text-gray-500">
					At {{ profile.employer }}, {{ profile.city }}
				</div>
				<div class="text-sm text-gray-700 mt-2 space-x-4" v-if="profile.contact">
					<span v-if="profile.contact.mobile">
						
						<a class="text-gray-500 hover:text-blue-600" :href="profile.contact.mobile|mob_link">
							<i class="mr-1 fas fa-phone-alt"></i>
							{{profile.contact.mobile}}
						</a>
					</span>
					<span v-if="profile.contact.email">
						<a class="text-gray-500 hover:text-blue-600" :href="profile.contact.email|mail_link">
							<i class="mr-1 fas fa-envelope"></i>
							{{profile.contact.email}}
						</a>
					</span>
				</div>
			</div>
		</div>

		<div class="container mx-auto my-5 grid grid-cols-3 md:grid-cols-4 gap-4">
			<div class="col-span-3 sm:col-span-1 space-y-4">
				<div class="p-4 rounded-xl shadow-lg bg-gray-200 ">
					<h4 class="text-xl text-gray-700 mb-3">Technical Skills</h4>
					<div
						v-for="(detail, group) in profile.skills"
						:key="group"
						class="hover:bg-gray-100 p-3 -mx-4 -my-2"
						:title="group+' skils' | ucfirst">
						<p class="px-2 mb-2 underline">{{group | ucfirst}}</p>
						<div
							v-for="(proficiency, skill) in detail"
							:key="skill"
							@click="toggleSkill(skill)"
							:style="'--fill: '+proficiency + '%'"
							:title="skill | skill_title(proficiency)"
							:class="['inline-block px-2 py-0 rounded-lg bg-gray-400 text-white skill cursor-pointer m-1', {'font-bold bg-green-600': skills.includes(skill)}]">
							<i class="fas fa-check" v-if="skills.includes(skill)"></i>
							{{skill}}
						</div>
					</div>
				</div>
				<div class="p-4 rounded-xl shadow-lg bg-gray-200" v-if="profile.hobbies && profile.hobbies.length">
					<h4 class="ml-1 text-xl text-gray-700 mb-3">About me</h4>
					<div class="py-1 m-1 text-gray-500">{{profile.about_me}}</div>
					<div class="social border-t border-gray-500 pt-2 mt-1 px-4 space-x-2 text-center">
						<a
							class="facebook"
							href="https://www.facebook.com/adiecha.harikrushna/"
							title="Facebook: Harikrushna">
							<i class="fab fa-facebook-square text-2xl text-gray-500 hover:text-blue-600"></i>
						</a>
						<a
							class="twitter"
							href="https://twitter.com/HK_Adiecha"
							title="Twitter: Harikrushna">
							<i class="fab fa-twitter text-2xl text-gray-500 hover:text-blue-400"></i>
						</a>
						<a
							class="github"
							href="https://github.com/AdiechaHK"
							title="Github: Harikrushna">
							<i class="fab fa-github text-2xl text-gray-500 hover:text-black"></i>
						</a>
						<a
							class="linkedin"
							href="https://www.linkedin.com/in/harikrushna-adiecha-19434458/"
							title="Linkedin: Harikrushna">
							<i class="fab fa-linkedin text-2xl text-gray-500 hover:text-blue-500"></i>
						</a>
						<a
							class="blog"
							href="https://blog.harikrushna.info"
							title="Blog: Harikrushna">
							<i class="fab fa-blogger text-2xl text-gray-500 hover:text-yellow-700"></i>
						</a>
					</div>
				</div>
				<div class="p-4 rounded-xl shadow-lg bg-gray-200" v-if="profile.hobbies && profile.hobbies.length">
					<h4 class="ml-1 text-xl text-gray-700 mb-3">Likes</h4>
					<div
						v-for="hobby in profile.hobbies"
						:key="hobby"
						class="inline-block px-2 py-0 rounded-lg bg-gray-400 text-white skill cursor-pointer m-1">
						{{hobby}}
					</div>
				</div>
			</div>
			<div class="space-y-4 sm:col-span-2 col-span-3 md:col-span-3">
				<div class="rounded-xl shadow-lg bg-gray-200">
					<div class="float-right inline-block pt-4 pr-4">
						Total: 
						<div class="inline-block px-2 py-0 rounded-lg bg-gray-300 text-gray-500">{{ total_exp | period }}</div>
					</div>
					<h4 class="text-xl text-gray-700 mb-4 pt-4 pl-4">Experience</h4>
					<div
						v-for="(exp, indx) in sorted_experience"
						:key="indx"
						v-show="indx < limit || show_experiences == 'all'"
						class="duration-300 rounded-b-xl space-y-2 p-4 border-t border-gray-400 pt-2 hover:bg-gray-100">
						<div class="float-right inline-block px-2 py-0 rounded-lg bg-gray-300 text-gray-500">{{ exp | months | period }}</div>
						<h5 class="text-gray-800 text-lg font-bold">{{exp.designation}}</h5>
						<div class="text-gray-600">
							At
							<a :href="exp.website" v-if="exp.website" class="text-blue-500 underline">{{exp.employer}}</a>
							<span v-else class="">{{exp.employer}}</span>
							, {{exp.city}}, {{exp.state}}, {{exp.country}}
						</div>
						<div class="text-gray-600">
							From {{ exp.from | dt }} till {{ exp.to | dt }}
						</div>
						<div
							v-for="skill in exp.skills"
							:key="skill"
							:class="['inline-block px-2 py-0 rounded-lg bg-gray-400 text-white skill m-1', {'bg-green-600 font-bold': skills.includes(skill)}]">
							{{skill}}
						</div>
					</div>
					<div
						v-if="sorted_experience.length > limit || sorted_experience.length === 0"
						class="rounded-b-xl space-y-2 p-4 border-t border-gray-400 pt-2 text-center">
						<div v-if="sorted_experience.length > limit">
							<button v-if="show_experiences!='all'" @click="show_experiences='all'" class="outline-none border hover:shadow-lg hover:bg-gray-100 duration-300 hover:border-blue-600 hover:text-blue-600 text-gray-500 px-4 py-2 rounded-lg">Show all</button>
							<button v-if="show_experiences=='all'" @click="show_experiences='limited'" class="outline-none border hover:shadow-lg hover:bg-gray-100 duration-300 hover:border-blue-600 hover:text-blue-600 text-gray-500 px-4 py-2 rounded-lg">Show less</button>
						</div>
						<div v-if="sorted_experience.length === 0">
							--- No Experience to Show ---
						</div>
					</div>
				</div>
				<div class="rounded-xl shadow-lg bg-gray-200" v-if="profile.projects">
					<div class="float-right inline-block pt-4 pr-4">
						Projects: 
						<div class="inline-block px-2 py-0 rounded-lg bg-gray-300 text-gray-500">{{ filtered_projects.length }}</div>
					</div>
					<h4 class="text-xl text-gray-700 mb-4 pt-4 pl-4">Projects</h4>
					<div
						v-for="(project, indx) in filtered_projects"
						:key="indx"
						v-show="indx < limit || show_projects == 'all'"
						class="duration-300 rounded-b-xl space-y-2 p-4 border-t border-gray-400 pt-2 hover:bg-gray-100">
						<div class="float-right inline-block px-2 py-0 rounded-lg bg-gray-300 text-gray-500">{{ project.type }} </div>
						<h5 class="text-gray-800 text-lg font-bold">{{ project.title }}</h5>
						<div class="text-gray-600">
							{{ project.description }}
						</div>
						<div
							v-for="skill in project.skills"
							:key="skill"
							:class="['inline-block px-2 py-0 rounded-lg bg-gray-400 text-white skill m-1', {'bg-green-600 font-bold': skills.includes(skill)}]">
							{{skill}}
						</div>
					</div>
					<div
						v-if="filtered_projects.length > limit ||filtered_projects.length === 0"
						class="rounded-b-xl space-y-2 p-4 border-t border-gray-400 pt-2 text-center">
						<div v-if="filtered_projects.length > limit">
							<button v-if="show_projects!='all'" @click="show_projects='all'" class="outline-none border hover:shadow-lg hover:bg-gray-100 duration-300 hover:border-blue-600 hover:text-blue-600 text-gray-500 px-4 py-2 rounded-lg">Show all</button>
							<button v-if="show_projects=='all'" @click="show_projects='limited'" class="outline-none border hover:shadow-lg hover:bg-gray-100 duration-300 hover:border-blue-600 hover:text-blue-600 text-gray-500 px-4 py-2 rounded-lg">Show less</button>
						</div>
						<div v-if="filtered_projects.length === 0">
							--- No Projects to Show ---
						</div>
					</div>
				</div>
				<div class="rounded-xl shadow-lg bg-gray-200">
					<h4 class="pl-4 pt-4 text-xl text-gray-700 mb-4">Education</h4>
					<div
						v-for="edu in profile.education"
						:key="edu.passing_year"
						class="p-4 space-y-2 mb-4 border-t border-gray-400">
						<h5 class="text-gray-800 text-lg font-bold">{{edu.degree}}</h5>
						<div class="text-gray-500">
						Passed out in <div class="inline-block px-2 py-0 rounded-lg bg-gray-300 text-gray-500">{{edu.passing_year}}</div>
						</div>
						<div class="text-gray-500">
							From {{edu.institute}} <span>({{edu.university}})</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="app.js"></script>
	</body>
</html>
